<div class="form-card">
    <div class="page-title">
        <h5>Add new skill</h5>
    </div>
    <%= render partial: 'programmes/form', locals: {model: @programme, url: user_programmes_url(@user), verb: :post} %>
</div>
