.about {
  background-color: #84A59D;
  width: 100%;
  height: 150px;
  margin: 4vh 0 0;
}

.greeting {
  h1 {
    font-size: 70px;
  }
}
.about-links {
  dsplay: block;
  margin: auto;
  text-align: center;

  a {
    color: pink;
  }
}


.basic-btn {

  display:inline-block;
  border: 2px solid #000;
  padding: 2px;
  a{
    color: #000;
    font-size: 16px;
    font-weight: bold;
  }
}
