 .form-card-devise {
  background-color: #FFF;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 32px;
  width: 24%;
  margin: 4vh auto;
  height: auto;
  // height: 500px;
 }
 .form-card {
    background-color: #FFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 32px;
    width: 48%;
    margin: 4vh auto;
    height: auto;
 }
.form-inputs {
    min-height: auto;
    height: auto;
    margin: 4vh auto;
    text-align: center;
    position: relative;
    label {
      text-transform: uppercase;
      font-size: 12px;
      float: left;
    }


  }

select {
    background-color: #84A59D;
    border: none;
    border-radius: 50px;
    color: #FDFDFD;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    margin: 0 0.4vw;
    padding: 4px 8px;
    text-transform: lowercase;
  }

.form-actions {
    color: #212121;
    font-size: 12px;
    margin-bottom: 8vh;
    text-align: center;
    white-space: normal;
    a {
        text-decoration: none;
        color: #212121;
    }
    a:hover {
      font-weight: bold;
          transition: 0.2s;
    }
  }

.form-button {
    margin: 4vh 0 8vh;
  input {
      border: 2px solid #000;

    color: #000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
  }


  input:hover {
    color: #FDFDFD;
    background-color: #f28482;
    border: 2px solid #f28482;

    transition: 0.4s;

  }
}

.form-otherActions {

    text-align: center;
    text-transform: uppercase;

    a {
        border-top: 0.5px solid #212121;
        padding: 16px 32px 0;
        font-size: 14px;
        text-decoration: none;
        color: #f28482;
        font-weight: bold;
    }
}
