.grid-title {
    text-align: center;
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 2vw;
    grid-template-areas:
      "pro1 pro1 pro2 pro2"
      "pro3 pro3 pro3 pro3"
      ". . . .";
      margin: 50px 12vw;
}

.preview-project-one {grid-area: pro1;}
.preview-project-two {grid-area: pro2;}
.preview-project-three {grid-area: pro3}

.preview-project-one, .preview-project-two {
    height: 240px;
}

.preview-project-one, .preview-project-two {
  background-color: #B7B7A4;
  position: relative;
      img {
          display: block;
          opacity: 1;
          height: 240px;
          width: 37vw;
          object-fit: cover;
          // z-index: 1;
          transition: .5s ease;
      }

      img:hover {
          opacity: 0.3;
     }
}
.preview-project-three {
    background-color: #B7B7A4;
    height: 320px;
    position: relative;
        img {
            display: block;
            opacity: 1;
            height: 320px;
            width: 76vw;
            object-fit: cover;
            // z-index: 1;
            transition: .5s ease;
        }

        img:hover {
            opacity: 0.3;
       }
}


.preview-cover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

}
.preview-project-one:hover img, .preview-project-two:hover img, .preview-project-three:hover img {
    opacity: 0.1;
}


.preview-project-one:hover .preview-cover , .preview-project-two:hover .preview-cover, .preview-project-three:hover .preview-cover {
    opacity: 1;
}

.preview-text a {
  background-color: transparent;
  // border: 4px solid #FFFFFF;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  text-align: center;
}

.preview-programmes p {
    color: #fff;
    font-size: 12px;
    border: 2px solid #FFF;
    padding: 4px 4px;
    float: left;
    margin: 0 4px;
     text-align: center;

}
