
.preview-container {
    display: grid;
    grid-gap: 4vh;
    grid-template-rows: 1fr;
    // grid-template-columns: 1fr 1fr;
    background-color: pink;


}

.row1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-column: 1fr 1fr;
background-color: yellow;
}



