.main-image {
  margin: 40px 0;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 400px;
        width: 80%;
        object-fit: cover;
    }
}

.project-info {
  position: relative;
  background-color: #F28482;
  padding: 16px 16vw 144px;
  text-align: left;
}

.project-left {
  padding-top: 16px;
  display: inline-block;
  width: 72%;
  vertical-align: top;
  margin: 0 0 2vw 0;
  p {
    font-size: 16px;
    font-weight: 200;
    margin: 0;
  }
}
.project-right {
  padding-top: 16px;
    display: inline-block;
    margin: 0 0 2vw 0;
    text-align: right;
    width: 24%;
    text-transform: uppercase;

    h5 {
        font-size: 16px;
        font-weight: 600;
    }
    p, a {
        color: #212121;
        font-weight: 200;
        text-decoration: none;
        letter-spacing: 0.1vw;
    }
}

.slideshow-container {
    background-color: #F7EDE2;
    display: flex;
    flex-direction: row;
    height: 80vh;
    justify-content: space-around;
    margin: 16px 16vw;
    margin-bottom: -7%;
    max-width: 1000px;
    position: relative;
    transform: translateY(-24%);
    a {
        background: transparent;
        color: #F28482;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-size: 48px;
        justify-content: center;
        margin: auto 2vw;
        opacity: 0.6;
        text-decoration: none;
        transition: 0.8s;
    }
    a:hover {
        opacity: 1;
    }
}


  .project-images {
    margin: auto;
   img {

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    object-fit: cover;
    height: 70vh;
    width: 100%;
  }
}


.show-container {
  margin: 0;
  text-align: center;
}
