.grid-container-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 16px;
    margin: 8vh;
    grid-template-areas:
          "project0 project0 project1 project1"
          "project2 project2 project2 project2";
}
#projectAll.grid-container-index {
    grid-template-areas:
      "project0 project0 project1 project1"
      "project2 project2 project2 project2"
      "project3 project3 project4 project4"
      "project3 project3 project5 project5"
      "project6 project6 project6 project6"
      "project7 project7 project8 project8";
}
#pro0 { grid-area: project0; }
#pro1  { grid-area: project1; }
#pro2 { grid-area: project2; }
#pro3 { grid-area: project3; }
#pro4  { grid-area: project4; }
#pro5  { grid-area: project5; }
#pro6 { grid-area: project6; }
#pro7  { grid-area: project7; }
#pro8 { grid-area: project8; }

.project-card {
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    border-radius: 2px;
    position: relative;
    img {
        display: block;
        opacity: 1;
        width: 100%;
        object-fit: cover;
        transition: .5s ease;
    }
}

#pro0, #pro1, #pro4, #pro5{
    background-color: #F6BD60;
    height: 240px;
    img {
      height: 100%;
    }
}

#pro2, #pro6 {
    background-color: #84A59D;
    height:320px;
        img {
            height: 100%;
        }
}
#pro3, #pro7, #pro8 {
    // background-color: #F28482;
    height: 496px;
        img {
            height: 100%;
        }
}



.project-card-text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: fit-content;
    h6 {
    color: #FDFDFD;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 8px;
    text-transform: uppercase;}
    h5 {
      text-transform: uppercase;
      letter-spacing: 0.2vw;
      font-weight: bold;
      font-size: 20px;
      text-align: center;

    }
    h5, a{
        color: #FDFDFD;
        text-decoration: none;


    }
    a:hover {
      transition: .5s ease;
      color: black;
    }
}
.project-card:hover img {
    opacity: 0.1;
}
.project-card:hover .project-card-text {
    opacity: 1;
}

.mySkills-btn {
  a {
      color: #FDFDFD;
      border: 2px solid #FDFDFD;
      font-size: 12px;
  }
  a:hover {
      border: 2px solid #FDFDFD;
      background-color: #FDFDFD;
      color: #212121;
  }
}

#viewBy-skills.mySkills-btn {
    p {
        display: block;
        margin: auto;
        width: 100%;
    }
    a {
        color: #212121;
        border: 2px solid #212121;
        font-size: 12px;
    }
    a:hover {
        border: 2px solid #84A59D;
        background-color: #84A59D;
        color: #FDFDFD;
    }
    p {
        font-size: 12px;
    }
}


@media screen and (max-width: 768px) {
    #projectAll.grid-container-index {
      grid-gap: 0;
      grid-template-columns: 1fr;
      margin: 2vh 0;
      grid-template-areas:
            "project0"
            "project1"
            "project2"
            "project3"
            "project4"
            "project5"
            "project6"
            "project7"
            "project8";
  }
    .grid-container-index {
        margin: 4vh 1vw;
    }

#pro0, #pro1, #pro4, #pro5{
    background-color: #F6BD60;
    height: auto;
    img {
      height: 240px;
    }
}

#pro2, #pro6, #pro3, #pro7, #pro8{
    background-color: #84A59D;
    height:auto;
        img {
            height: 240px;
        }
}

    .project-card {
        height: auto;
        margin-bottom: 4vh;
    }
    .project-card-text {
        background-color: #FDFDFD;
        height: 64px;
        left: 0;
        margin: 0;
        opacity: 1;
        padding: 8px 16px;
        position: relative;
        text-align: left;
        top: 0;
        transform: none;
        width: 100%;
        h6 {
            color: #212121;
            font-size: 10px;
        }
        h5, a {
            color: #212121;
            font-size: 16px;
            font-weight: 600;
            // margin-bottom: 8px;
            text-align: left;
            text-decoration: none;
            text-transform: capitalize;
        }
        // a:hover, h5:hover {
        //   display: none;
        // }
    }
    #homeSkills.mySkills-btn {
    display: none;
    }

    #proNil.project-card-text {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .grid-container-index {
        grid-template-columns: 1fr;
        margin: 2vh 0;
        grid-template-areas:
              "project0"
              "project1"
              "project2";
    }
}
