.project {

}

.project-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 4px;
      overflow: clip;
    }
  }


}


.project-content {
  &__details {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  &__description {
    flex: 1;
  }

  &__attributes {
    max-width: 300px;
    overflow: hidden;
    flex: 1;
  }
}


.attributes-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.attribute {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  &:has(header.attribute__header h6) {
    flex-direction: column;
    gap: 0.5rem;
  }

  &__icon {
    color: $gray-darker;
  }

  &__content {
    display: inline-flex;
    gap: 0.5rem;

    &--horizontal {
      align-items: center;
      flex-direction: row;
    }

    &--vertical {
      flex-direction: column;
    }
  }
}
