.grid-container-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 16px;
    margin: 8vh;
    grid-template-areas:
          "project0 project0 project1 project1"
          "project2 project2 project2 project2";
    #projectAll.grid-container-index {
        grid-template-areas:
          "project0 project0 project1 project1"
          "project2 project2 project2 project2"
          "project3 project3 project4 project4"
          "project3 project3 project5 project5"
          "project6 project6 project6 project6"
          "project7 project7 project8 project8";
    }
}
.grid-container-show {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 640px;
    margin: auto;
}

#pro0 { grid-area: project0; }
#pro1  { grid-area: project1; }
#pro2 { grid-area: project2; }
#pro3 { grid-area: project3; }
#pro4  { grid-area: project4; }
#pro5  { grid-area: project5; }
#pro6 { grid-area: project6; }
#pro7  { grid-area: project7; }
#pro8 { grid-area: project8; }


.project-card {

    background-color: #F6BD60;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    border-radius: 2px;
    height: 240px;
    position: relative;
    img {
        display: block;
        opacity: 1;
        height: 240px;
        width: 100%;
        object-fit: cover;
        transition: .5s ease;
    }
}
#pro2, #pro6 {
    background-color: #84A59D;
    height:320px;
        img {
            height: 320px;
        }
}
#pro3{
    background-color: #84A59D;
    height: 496px;
        img {
            height: 496px;
        }
}

.project-card-text {

    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: fit-content;
    h5 {
      text-transform: uppercase;
      letter-spacing: 0.2vw;
      font-weight: bold;
      font-size: 20px;
      text-align: center;


    }
    h5, a{
        color: #FDFDFD;
        text-decoration: none;


    }
    a:hover {
      transition: .5s ease;
      color: black;
    }
}
.project-card:hover img {
    opacity: 0.1;
}
.project-card:hover .project-card-text {
    opacity: 1;
}

.mySkills-btn {
  a {
      color: #FDFDFD;
      border: 2px solid #FDFDFD;
      font-size: 12px;
  }
  a:hover {
      border: 2px solid #FDFDFD;
      background-color: #FDFDFD;
      color: #212121;
  }
}

#viewBy-skills.mySkills-btn {
  display: inline-block;
    a {
      color: #212121;
      border: 2px solid #212121;
      font-size: 12px;
  }
  a:hover {
      border: 2px solid #84A59D;
      background-color: #84A59D;
      color: #FDFDFD;
  }
  p {
    font-size: 12px;
  }
}


@media screen and (max-width: 768px) {
  .grid-container-index {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 16px;
      margin: 2vh 2vw;
      grid-template-areas:
            "project0"
            "project1"
            "project2";
}

    #pro2{
      height:100px;
        img {
            height: 100px;
        }
    }



.grid-container-show {
    width: 80%;
}}

@media screen and (max-width: 425px) {


    .project-card {
        height: 100px;
        background: transparent;
                img {
            height: 100px;
            opacity: 1;
            z-index: 1;

        }
    }
    .project-card-text {
        background: #84A59D;
        box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
        border-radius: 2px;
        transform: none;
        top: 0 ;
        left: 0;
        opacity: 1;
        h5 {
            font-size: 12px;
            font-weight: 500;
            margin: auto;
            padding: 4px 8px;
        }
    }
}
