.grid-containerrr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
  grid-template-areas:
    "project0 project0 project1 project1"
    "project2 project2 project2 project2"
    "project3 project3 project4 project4"
    "project3 project3 project5 project5"
    "project6 project6 project6 project6"
    "project7 project7 project8 project8";
}
#pro0 { grid-area: project0; }
#pro1  { grid-area: project1; }
#pro2 { grid-area: project2; }
#pro3 { grid-area: project3; }
#pro4  { grid-area: project4; }
#pro5  { grid-area: project5; }
#pro6 { grid-area: project6; }
#pro7  { grid-area: project7; }
#pro8 { grid-area: project8; }


.project-card {
  background-color: pink;
  height: 240px;
}

#pro3{
  height: 496px;
}

