<% if controller_name == 'passwords' %>
  <div class="btn-w-caption">
    <span class="t-caption t-gray">Remembered your password?</span>
    <%= link_to "Sign in instead", new_session_path(resource_name), class: "btn btn--secondary btn--full" %>
  </div>
<% else %>
  <%- if controller_name != 'sessions' %>
    <div class="btn-w-caption">
      <span class="t-caption t-gray">Already have an account?</span>
      <%= link_to "Sign In", new_session_path(resource_name), class: "btn btn--secondary btn--full" %>
    </div>
  <% end %>
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <div class="btn-w-caption">
      <span class="t-caption t-gray">Don't have an account?</span>
      <%= link_to "Sign Up", new_registration_path(resource_name), class: "btn btn--secondary btn--full" %>
    </div>
  <% end %>
<% end %>