<main class="form">
  <header class="page-header">
    <div class="page-header__top">
      <h5>Skills Administration</h5>
    </div>
    <div class="page-header__main">
      <h1 class="page-header__title">Add Skill to Profile</h1>
    </div>
  </header>
  <div class="page-content">
    <div class="form" id="programme-form">
      <%= render partial: 'admin/programmes/form', locals: { programme: @programme } %>
    </div>
  </div>
</main>
