<div class="main-container">
    <div class="form-card">
        <div class="page-title">
            <h5>add skill to project</h5>
        </div>
        <%= render partial: 'project_programmes/form', locals: {model: @project_programme, url: user_project_project_programmes_url, verb: :post} %>
    </div>
</div>
