<h1>this is a new connection between project and programme</h1>

<%= render partial: 'project_programmes/form', locals: {model: @project_programme, url: user_project_project_programmes_url, verb: :post} %>
