<footer class="footer">
  <div class="footer__social-links" id="footer">
    <a href="http://www.github.com/kotomyrau" class="fa fa-github" target='blank'></a>
    <a href="https://www.linkedin.com/in/kotomyra-uchida/" class="fab fa-linkedin" target='blank'></a>
    <a href="mailto:kotomairau@gmail.com" class="fas fa-envelope-square"></a>
  </div>
</footer>
