<nav>
  <div class="nav-title">
    <%= link_to 'KOTOMAIRA UCHIDA', root_path %>
  </div>
  <ul class="nav-links">
    <% if user_signed_in? && current_user.role_admin? %>
      <% if current_user.role_admin? %>
        <li><%= link_to "Manage", admin_dashboard_path %></li>
      <% end %>
      <li><%= button_to "Log out", destroy_user_session_path, method: :delete %></li>
    <% end %>
<!--    <li><%#= link_to "HOME", root_path %></li>-->
<!--    <li><%#= link_to "ABOUT", about_path %></li>-->
<!--    <li><%#= link_to "PORTFOLIO", projects_path %></li>-->
  </ul>
  <% if user_signed_in? %>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  <% end %>
</nav>
