<%= turbo_frame_tag "about_me" do %>
  about me

  <%= link_to "DOWNLOAD RESUME", "/koto_uchida_cv_2025.pdf", target: :blank %>
<% end %>

  <%# if @user.avatar.attached? %>
<!--    <div class="avatar-wrapper">-->
      <%#= cl_image_tag @user.avatar %>
<!--    </div>-->
  <%# end %>
<!--  <div class="programmes-container">-->
<!--      <div class="page-title">-->
<!--          <h5>Skills</h5>-->
      <%# if @programmes.empty? %>
<!--        <p>have not been added yet</p>-->
      <%# end %>
<!--    </div>-->
<!--      <div class="mySkills-btn" id="about-skills">-->
          <%# @programmes.each do |programme| %>
              <%# if programme.projects.empty? %>
<!--                  <p> <%#= programme.name %> </p>-->
              <%# else %>
                  <%#= link_to programme.name, programme_path(programme) %>
              <%# end %>
          <%# end %>
<!--      </div>-->
<!--  </div>-->

<!--  <div class="about-links">-->
<!--      <div class="social-links">-->
<!--          <a href="http://www.github.com/kotomyrau" class="fa fa-github" target='blank'></a>-->
<!--          <a href="https://www.linkedin.com/in/kotomyra-uchida/" class="fab fa-linkedin" target='blank'></a>-->
<!--          <a href="mailto:kotomairau@gmail.com" class="fas fa-envelope-square"></a>-->
<!--      </div>-->
<!--      <br><div class="basic-btn">-->
          <%#= link_to "VIEW PORTFOLIO", projects_path  %>
<!--      </div>-->
<!--  </div>-->




<!--</div>-->
