<h2>About me</h2>

<p>description for about me Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias doloribus sit iure consequuntur expedita provident. Facilis reprehenderit quaerat saepe molestiae, ipsam, esse a porro dolorum quos, veritatis adipisci voluptatem magnam. Eos reprehenderit nisi, optio debitis architecto, facilis laboriosam mollitia delectus odio soluta ipsum adipisci eum autem quasi natus atque doloremque.</p>

<p>downloadable resume</p>

<h5>Skills</h5>
<% @programmes.each do |programme| %>
  <%= link_to programme.name, programme_path(programme) %> <br>
<% end %>

<h5>Resume</h5>
<%= link_to "Download resume", "/kmu_resume.pdf", target: :blank  %>
