<div class="container-about">
  <div class="page-title">
      <h5> ABOUT ME </h5>
  </div>

  <div class="about-container">
      <div id="greetingEng" class="row">
          Hello!
        </div>
          <div id="bioEng">
            english for about me Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias doloribus sit iure consequuntur expedita provident. Facilis reprehenderit quaerat saepe molestiae, ipsam, esse a porro dolorum quos, veritatis adipisci voluptatem magnam. Eos reprehenderit nisi, optio debitis architecto, facilis laboriosam mollitia delectus odio soluta ipsum adipisci eum autem quasi natus atque doloremque.
          </div>
  <div id="greetingJpn" class="row">
          こんにちは!
      </div>

          <div id="bioJpn">
              私の名前は内田小都麻衣良です。 consequuntur expedita provident. Facilis reprehenderit quaerat cto, facilis laborio私の名前は内田小都麻衣良です。japanese私の名前は内田小都麻衣良です。japanese私の名前は内田小都麻衣良です。japanese私の名前は内田小都麻衣良です。is architecto, facilis laborio私の名前は内田小都麻衣良です。japanese私の名前は内田小都麻衣良です。japanese私の名前は内田小都麻衣良です。japanese私の名前は内田小都麻衣良です。is architecto, facilis laborio私の名前は内田小都麻衣良です。japanese私の名前は内田小都麻衣良です。japanese私の名前は内田小都麻衣良です。japanese私の名前は内田小都麻衣良です。japanesesam mollitia delectus odio soluta ipsum adipisci eum autem quasi natus atque doloremque.
          </div>
    </div>

    <!--   <div id="bioJpn" class="row">
      </div>
 -->
<!--       <div id="aboutMe-jpn" class="row">
              description for about me Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias doloribus sit iure consequuntur expedita provident. Facilis reprehenderit quaerat saepe molestiae, ipsam, esse a porro dolorum quos, veritatis adipisci voluptatem magnam. Eos reprehenderit nisi, optio debitis architecto, facilis laboriosam mollitia delectus odio soluta ipsum adipisci eum autem quasi natus atque doloremque.
      </div>
      <div id="japanese" class="row">
              <h5>こんにちは!</h5>
          </div> -->
      </div>
  </div>



  <div class="programmes-container">
      <div class="sub-title">
          <h5>Skills</h5>
      </div>

      <div class="about-programmes">
          <% @programmes.each do |programme| %>
              <%= link_to programme.name, programme_path(programme) %>
          <% end %>
      </div>
  </div>

  <div class="about-links">
      <div class="basic-btn">
          <%= link_to "DOWNLOAD RESUME", "/kmu_resume.pdf", target: :blank  %>
      </div><br>
      <div class="social-linkks">
        <a href="http://www.github.com/kotomyrau" class="fa fa-github" target='blank'></a>
        <a href="https://www.linkedin.com/in/kotomyra-uchida/" class="fab fa-linkedin" target='blank'></a>
        <a href="mailto:kotomairau@gmail.com" class="fas fa-envelope-square"></a>
      </div>
      <br>   <div class="basic-btn">
     <%= link_to "VIEW PORTFOLIO", projects_path  %>
    </div>

  </div>




</div>
