
<div class="page-title">
  <h5> ABOUT ME </h5>
</div>
<div class="about-container">
  <div id="greeting-eng"><h5>Hello</h5></div>
<div id="aboutMe-eng"><p>japanese for about me Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias doloribus sit iure consequuntur expedita provident. Facilis reprehenderit quaerat saepe molestiae, ipsam, esse a porro dolorum quos, veritatis adipisci voluptatem magnam. Eos reprehenderit nisi, optio debitis architecto, facilis laboriosam mollitia delectus odio soluta ipsum adipisci eum autem quasi natus atque doloremque.</p>
</div>
  <div id="greeting-jpn"><h5>こんにちは!</h5></div>
<div id="aboutMe-jpn"> <p>description for about me Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias doloribus sit iure consequuntur expedita provident. Facilis reprehenderit quaerat saepe molestiae, ipsam, esse a porro dolorum quos, veritatis adipisci voluptatem magnam. Eos reprehenderit nisi, optio debitis architecto, facilis laboriosam mollitia delectus odio soluta ipsum adipisci eum autem quasi natus atque doloremque.</p>
</div>

</div>



</div>

<p>downloadable resume</p>

<h5>Skills</h5>
<% @programmes.each do |programme| %>
  <%= link_to programme.name, programme_path(programme) %> <br>
<% end %>

<h5>Resume</h5>
<%= link_to "Download resume", "/kmu_resume.pdf", target: :blank  %>

<a href="#" class="fa fa-github"></a>
<a href="#" class="fa fa-twitter"></a>
