<div class="form-card">
    <div class="page-title">
        <h5>New Project</h5>
    </div>
    <%= render partial: 'projects/form', locals: {model: @project, url: user_projects_url(@user), verb: :post} %>
</div>
