// main routing button
.basic-btn {
  display:inline-block;
  margin: auto;

  a{
    border: 2px solid #2f2f2f;
    padding: 2px 0.5vw;
    color: #2f2f2f;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    border: 2px solid #F6BD60;
    background-color: #F6BD60;
    color: #FDFDFD;
    transition: 0.4s;
}
}

// skills button
.mySkills-btn {
    margin: 4px 2px 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;

    a {
        padding: 4px 4px;
        text-align: center;
        margin: 0.5vh 0.25vw;
        font-weight: normal;
        text-transform: lowercase;
        white-space: nowrap;
    }
    a:hover {
        text-decoration: none;
        cursor: pointer;
        transition: 0.4s;
    }
}
