// app/assets/stylesheets/components/_cards.scss

.cards-grid {
  --template-columns: repeat(2, 1fr);
  container: cardsGrid / inline-size;
  display: grid;
  grid-template-columns: var(--template-columns);
  grid-auto-rows: auto;
  gap: 1rem;

  > :first-child.card {
    --thumbnail-height: 224px;
    grid-column: span 2;
  }

  @media screen and (max-width: 768px) {
    --template-columns: repeat(1, 1fr);

    > :first-child.card {
      --thumbnail-height: 176px;
      grid-column: span 1;
    }
  }
}

.card {
  --thumbnail-height: 176px;
  border: 1px solid $gray-lighter;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  border-radius: 0.5rem;
  background-color: $white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  width: 100%;

  &__thumbnail {
    min-height: var(--thumbnail-height);
    max-height: var(--thumbnail-height);

    img {
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    min-height: 128px;
    max-height: 128px;
  }

  &__header {
    flex: 1;
  }

  &__skills {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
    overflow-x: scroll;
  }
}



.badge {
  align-items: center;
  background-color: color-mix(in srgb, $ink, white 90%);
  border-radius: 4px;
  color: $ink;
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.25rem;
  height: fit-content;
  line-height: 1rem;
  max-height: 1.5rem;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  width: fit-content;
}
