.footer {
  align-items: center;
  background-color: $white;
  box-shadow: 0px 0 4px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 2rem;
  justify-content: center;
  min-height: 80px;
  padding: 1rem;
  width: 100%;

  &__social-links {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 16px;
    gap: 2rem;
    padding: 0 2rem;
  }
}
