form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
 // LOG IN / FORGOT PASS FORMS
 .form-card-devise {
    background-color: #FFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    flex-direction: column;
    display: flex;
    height: auto;
    justify-content: space-around;
    margin: 4vh auto;
    padding: 32px;
    width: 48vw;
 }

.form-inputs {
    height: auto;
    margin: 0 4vw;
    min-height: auto;
    position: relative;
    text-align: left;
    label {
        font-size: 12px;
        text-align: left;
        text-transform: uppercase;
    }
}
.form-control {
    color: #212121;
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    font-size: 16px;
    margin: auto;
    padding: 0 24px;
    text-align: center;
}
.form-actions {
    color: #212121;
    font-size: 12px;
    // margin-bottom: 8vh;
    text-align: center;
    white-space: normal;
    p {
        font-size: 12px;
    }
    a {
        color: #212121;
        text-decoration: none;
    }
    a:hover {
        font-weight: bold;
        transition: 0.2s;
    }
}

input {
    color: #212121 !important;
    font-size: 12px;
    text-transform: uppercase;
  }

.form-button {
    margin: 4vh 0 8vh;
    input {
        border: 2px solid #000;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.1vw;
        text-transform: uppercase;
    }
    input:hover {
        color: #FDFDFD;
        background-color: #f28482;
        border: 2px solid #f28482;
        transition: 0.4s;
    }
}
.form-otherActions {
    text-align: center;
    text-transform: uppercase;
    a {
        border-top: 0.5px solid #212121;
        color: #f28482;
        font-size: 14px;
        font-weight: bold;
        padding: 16px 32px 0;
        text-decoration: none;
    }
}

select {
    background-color: #84A59D;
    border: none;
    border-radius: 50px;
    color: #FDFDFD;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    margin: 0 0.4vw;
    padding: 4px 8px;
    text-transform: lowercase;
  }

@media screen and (max-width: 768px) {
    .form-card-devise {
        width: 72vw;
    }
}

@media screen and (max-width: 425px) {
    .form-card-devise {
        height: 100%;
        margin: 0;
        width: 100%;
    }
    .form-control {
      font-size: 12px;
    }
}
