.greeting-container {
    background-color: #F28482;
    display: grid;
    grid-gap: 0px;
    grid-template-areas:
        "english"
        "myBio"
        "japanese";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
    padding: 1vh 2vw;
}

#english.greeting { grid-area: english; }
.myBio { grid-area: myBio; }
#japanese.greeting { grid-area: japanese; }

.greeting {
    color:  #F7EDE2;
    font-size: 72px;
    font-weight: bold;
}

#english {width: fit-content;}
#japanese {text-align: right;
    }

.myBio {
    color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4vh 8vw;
    max-height: 300px;
    text-align: center;
}

#japan.myBio {
  line-height: 32px;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;

}
#blank {
    color:  #F7EDE2;
    font-size: 16px;
    opacity: 0.5;
    visibility: visible;
}
#eng, #japan {visibility: hidden;}
#english:hover ~ #blank, #japanese:hover ~ #blank{visibility: hidden;}
#english:hover + #eng, #japanese:hover ~ #japan{visibility: visible;}

@media screen and (max-width: 768px) {
    .greeting {
        display: flex;
        font-size: 48px;
        font-weight: bold;
        justify-content: center;
        text-align: center;
    }
    #japanese {text-align: center;}
    #english {width: auto;}
}
