nav {
    align-items: center;
    background-color: #FDFDFD;

    box-shadow: 0 0 4px rgba(0,0,0,0.2);

    display: flex;
    height: 80px;
    justify-content: space-around;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;

}

.nav-title a {
    color: #212121;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 8px;
    text-decoration: none;
    margin: 0;
    a:hover {
      text-decoration: none;
    }
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin:0;
    padding: 10px 0;
    width: 30%;
}

.nav-links a {
    color: #2f2f2f;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 3px;
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links a:hover {
    font-weight: 300;
}

 // LAPTOP
@media screen and (max-width: 1024px) {
    .nav-links {
        width: 30%;
    }
}

.burger {
    display: none;
    cursor: pointer;
    padding-right: 24px;
    position: absolute;
    right:0;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #F6BD60;
    margin: 5px;
    transition: all 0.3s ease;
}

// TABLET
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav {
        display: flex;
        justify-content: space-between;
        padding: 0 80px 0 40px;
        width: 100%;
    }

    .nav-title h3{
        font-size: 20px;
        font-weight: 300;
    }

    .nav-links {
        align-items: center;
        background-color: #FDFDFD;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        padding: 0 0 80px 0;
        position: fixed;
        right: 0px;
        top: 80px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        width: 100%;
        li {
            opacity: 0;
        }
    }

    .burger {
        display: block;
    }
}

// PHONE
@media screen and (max-width: 425px) {
    body {
        overflow-x: hidden;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .nav-title a {
        font-size: 16px;
        font-weight: 200;
        letter-spacing: 8px;
        margin: 0;
        position: relative;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
