.nav {
  align-items: center;
  background-color: $white;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  height: $navbar-height;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $navbar-index;

  &__title {
    color: $ink;
    font-family: $font-primary;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 8px;
    line-height: 32px;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    margin:0;
    width: fit-content;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;

    .link {
      text-transform: uppercase;

      &:hover {
        font-weight: 600;
      }
    }
  }

  &__burger {
    display: none;
  }

  @media screen and (max-width: 768px) {
    &__title {
      font-size: 16px;
      position: relative;
    }

    &__links {
      align-items: center;
      background-color: $white;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
      padding: 0 0 $navbar-height 0;
      position: fixed;
      right: 0;
      top: $navbar-height;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      width: 100%;

      li {
        opacity: 0;
      }

    }

    &--active .nav__links {
      transform: translateX(0%);
    }

    &__burger {
      cursor: pointer;
      display: block;
      padding: 4px;
      right:0;

      .burger-line {
        background-color: #F6BD60;
        border-radius: 3px;
        height: 3px;
        margin: 4px;
        transition: all 0.3s ease;
        width: 24px;
      }
    }

    &--toggled .burger-line {
      &--1 {
        transform: rotate(-45deg) translate(-4px, 5px);
      }

      &--2 {
        opacity: 0;
      }

      &--3 {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }
}

@keyframes navToggle {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
