#removeProgramme {
    display: inline-block;
    margin: auto 2vw auto 0;
    vertical-align: top;
    padding: auto;
    font-size: 16px;
    a {
      text-decoration: none;
      color: #FFF;
    }
  }

  .user-settings {
      color: #FFF;
      text-align: right;
      a {
        color: #FFF;
      text-decoration: none;
      margin-left: 2vw;
    } }


.preview-programmes {
      display: inline-block;
      margin: 4px 2px 4px;
  a {
    color: #FDFDFD;
    font-size: 12px;
    border: 2px solid #FDFDFD;
    padding: 4px 2px;
    text-align: center;
    margin: 0;
    font-weight: 300;
  }
  a:hover {
    text-decoration: none;
    cursor: pointer;
  }

}
