
.slideshow-container {
  position: relative;
  background: #B7B7A4;
  height: 180px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.text-slide {

  display: none;
  text-align: center;


  h5 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #F0EFEB;
    margin-bottom: 24px;
  }
}

.slide-link a {
   font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #F0EFEB;
    text-decoration: none;
    text-transform: uppercase;
}

    .slide-link a:hover{
      color: pink;
      text-decoration: none;
    }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #F0EFEB;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  position: absolute;
  right: 5vw;
  border-radius: 3px 0 0 3px;
}

.prev {
  position: absolute;
  left: 5vw;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: #F0EFEB;
  font-size:22px;
  background: transparent;
  text-decoration: none;
}

.dot-container {
  position: absolute;
  text-align: center;
  padding: 0;
  background: transparent;
  bottom: 0;
}


.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 4px 8px;
  background-color: #A5A58D;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #F0EFEB;
}
