
.slideshow-container {
    align-items: center;
    background: #B7B7A4;
    display: flex;
    height: 180px;
    justify-content: space-around;
    position: relative;
}

.text-slide {
    display: none;
    text-align: center;
    h5 {
        color: #F0EFEB;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 200;
        margin-bottom: 24px;
    }
}

.slide-link a {
    color: #F0EFEB;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}

.slide-link a:hover{
    color: #F0EFEB;
    font-weight: 500;
    text-decoration: none;
}

.prev, .next {
    color: #F0EFEB;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: -30px;
    padding: 16px;
    position: absolute;
    top: 50%;
    user-select: none;
    width: auto;
}

.next {
    right: 5vw;
}

.prev {
    left: 5vw;
}

.prev:hover, .next:hover {
    background: transparent;
    color: #F0EFEB;
    font-size:20px;
    text-decoration: none;
}

.dot-container {
    position: absolute;
    // text-align: center;
    background: transparent;
    bottom: 0;
}

.dot {
    background-color: #A5A58D;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 0 4px 8px;
    transition: background-color 0.6s ease;
    width: 8px;
}

.active, .dot:hover {
    background-color: #F0EFEB;
}

// TABLET
@media screen and (max-width: 768px) {
    .text-slide {
        width: 70vw;
        h5 {
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight: 200;
        }
    }
    .slide-link a {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #F0EFEB;
        text-decoration: none;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 425px) {
    .text-slide {
        width: 60vw;
        h5 {
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-weight: 200;
            margin-bottom: 16px;
        }
    }

    .slide-link a {
        color: #F0EFEB;
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
    }
}
