<div class="form-inputs" id="programmeNew">
  <%= form_with model: [:admin, project, project_programme], data: { controller: "" , turbo: false } do |f| %>
     <%#= f.error_notification %>
        <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <p>Your skill, <%= f.collection_select :programme_id, @programmes, :id, :name %>  </p>
            <p> will be added to your project, <%= f.collection_select :project_id, @projects, :id, :title, selected: @project.id%></p><hr>
        <div class="form-button">
            <%= f.submit "Add Skill", class: "btn btn--primary" %>
        </div>
    <% end %>
</div>
