<div class="form-card">
  <div class="page-title">
    <h5>add skill to project</h5>
  </div>
  <%= render partial: 'admin/project_programmes/form', locals: { project: @project, project_programme: @project_programme } %>
</div>
